[user]
	name = Salif Mehmed
	email = salifm@protonmail.com
	signingKey = 7C81F2D0E02B7A15
[commit]
	gpgsign = true
[pull]
	rebase = false
[core]
	editor = micro
[gpg]
	program = gpg2
[alias]
	pushall = !git remote | xargs -L1 git push --all
[tag]
	forceSignAnnotated = true

