[user]
	name = Salif Mehmed
	email = mail@salif.eu
	signingKey = 582BF44B568859DA
[commit]
	gpgsign = true
[pull]
	rebase = false
[core]
	editor = micro
[alias]
	pushall = !git remote | xargs -L1 git push --all
	slog = !git log --graph --decorate --oneline
[tag]
	forceSignAnnotated = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
